mixin article-main_screen
    +b.article-main-wrap.wrap(style="background: url(./img/test-img.png)")
        +b.article-main.container
            +e.P.category Культура
            +e.H1.title Правила поведінки туристів у мусульманських країнах
            +e.H2.desc Іслам - друга за поширеністю релігія в світ. Як себе поводити у мусульманськый країні
            +e.date-block 
                +e.P.date Dec 15, 2020
                +e.P.time 15 min read

