include ../_partials/news-item.pug

mixin category_screen 
    +b.SECTION.category-wrap.wrap
        +b.category.container
            +b.H2.title_default категорії
            +b.news-list 
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item

             
