include ../_partials/news-item.pug

mixin lastNews_screen 
    +b.SECTION.lastNews-wrap.wrap
        +b.lastNews.container
            +b.H2.title_default Останні новини
            +b.news-list
               +news-item
               +news-item
               +news-item
               +news-item
            +b.A.btn_default._transp._center(href="#") Всі статті
