mixin lastNews_screen 
    +b.SECTION.lastNews-wrap.wrap
        +b.lastNews.container
            +b.H2.title_default Останні новини
            +b.lastNews-list
                +e.item 
                    +e.IMG.img(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                    +e.note-block
                        +e.SPAN.category Технології
                        +e.SPAN.time 7хв
                    +e.P.title Особливості освіти в Ісламі та де можна її здобути в Києві (Україні) Освіта в Ісламі
                    +e.P.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                +e.item 
                    +e.IMG.img(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                    +e.note-block
                        +e.SPAN.category Технології
                        +e.SPAN.time 7хв
                    +e.P.title Особливості освіти в Ісламі та де можна її здобути в Києві (Україні) Освіта в Ісламі
                    +e.P.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                +e.item 
                    +e.IMG.img(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                    +e.note-block
                        +e.SPAN.category Технології
                        +e.SPAN.time 7хв
                    +e.P.title Особливості освіти в Ісламі та де можна її здобути в Києві (Україні) Освіта в Ісламі
                    +e.P.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                +e.item 
                    +e.IMG.img(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                    +e.note-block
                        +e.SPAN.category Технології
                        +e.SPAN.time 7хв
                    +e.P.title Особливості освіти в Ісламі та де можна її здобути в Києві (Україні) Освіта в Ісламі
                    +e.P.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            +b.A.btn_default._transp._center(href="#") Всі статті
