mixin main_screen 
	+b.main-wrap
		+b.main
			+b.main-slider 
				+e.item
					+e.IMG.bg(src="./img/main-sliderBG.png")
					+e.content-wrap
						+e.content
							+e.text
								+e.P.title «HALALROOM»
								+e.P.desc Це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
								+e.P.title-list Особливості нашого медіа:
								+e.UL.list
									+e.LI.list-item Відповідаємо на складні питання простою мовою.
									+e.LI.list-item Допомагаємо читачам знайти рішення проблеми.
									+e.LI.list-item Робимо повсякденність осмисленої.
								+b.A.btn_default._red(href="#") Читати далі
							+e.IMG.img(src="./img/main-slider-img.png")
				+e.item
					+e.IMG.bg(src="./img/main-sliderBG.png")
					+e.content-wrap
						+e.content
							+e.text
								+e.P.title «HalalRoom»
								+e.P.desc Це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
								+e.P.title-list Особливості нашого медіа:
								+e.UL.list
									+e.LI.list-item Відповідаємо на складні питання простою мовою.
									+e.LI.list-item Допомагаємо читачам знайти рішення проблеми.
									+e.LI.list-item Робимо повсякденність осмисленої.
								+b.A.btn_default._red(href="#") Читати далі
							+e.IMG.img(src="./img/main-slider-img.png")






