include ../_partials/podcasts-list-item.pug

mixin podcasts-list_screen
    +b.podcasts-list-wrap.wrap
        +b.podcasts-list.container
            +podcasts-list-item
            +podcasts-list-item
            +podcasts-list-item
