mixin podcasts_screen
    +b.SECTION.podcasts-wrap 
        +b.podcasts
            +b.H2.title_default Відео та подкасти
            +b.podcasts-slider
                +e.item
                    +e.container
                        +e.IMG.item-bg(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                        +e.content 
                            +e.P.title Наш перший подкаст Коротко про наші плани та мету
                            +e.P.desc «HalalRoom» - це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
                            +e.btns-block 
                                +b.A.btn_default._red(href="#") детальніше
                                +b.A.btn_default._transp._center(href="#") Дивитись на Youtube
                +e.item
                    +e.container
                        +e.IMG.item-bg(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                        +e.content 
                            +e.P.title Наш перший подкаст Коротко про наші плани та мету
                            +e.P.desc «HalalRoom» - це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
                            +e.btns-block 
                                +b.A.btn_default._red(href="#") детальніше
                                +b.A.btn_default._transp._center(href="#") Дивитись на Youtube
                +e.item
                    +e.container
                        +e.IMG.item-bg(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                        +e.content 
                            +e.P.title Наш перший подкаст Коротко про наші плани та мету
                            +e.P.desc «HalalRoom» - це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
                            +e.btns-block 
                                +b.A.btn_default._red(href="#") детальніше
                                +b.A.btn_default._transp._center(href="#") Дивитись на Youtube
                +e.item
                    +e.container
                        +e.IMG.item-bg(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                        +e.content 
                            +e.P.title Наш перший подкаст Коротко про наші плани та мету
                            +e.P.desc «HalalRoom» - це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
                            +e.btns-block 
                                +b.A.btn_default._red(href="#") детальніше
                                +b.A.btn_default._transp._center(href="#") Дивитись на Youtube
                +e.item
                    +e.container
                        +e.IMG.item-bg(src="https://icdn.lenta.ru/images/2021/09/03/06/20210903064438940/wide_16_9_67cece7ae5f539909b6fb7f6cb5c7606.jpg")
                        +e.content 
                            +e.P.title Наш перший подкаст Коротко про наші плани та мету
                            +e.P.desc «HalalRoom» - це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
                            +e.btns-block 
                                +b.A.btn_default._red(href="#") детальніше
                                +b.A.btn_default._transp._center(href="#") Дивитись на Youtube
