include ../_partials/sidebar-content.pug
include ../_partials/news-item.pug


mixin single-podcasts-body_screen
    +b.SECTION.article-body-wrap.wrap
        +b.article-body.container
            +b.article-body-shell
                +b.article-body-content
                    +e.text-block
                        h3 «HalalRoom» - це найбільший медіа-ресурс, де можна дізнатися про все, що робить життя мусульман краще.
                        p Особливості нашого медіа:
                        ul 
                            li — Відповідаємо на складні питання простою мовою.
                            li — Допомагаємо читачам знайти рішення проблеми.
                            li — Робимо повсякденність осмисленої.
                        p Головна мета «HalalRoom» - створення повноцінного інформаційного ресурсу для мусульман, який можна використовувати в повсякденному житті кожен день! Також ми надаємо немусульманам актуальну інформацію про Іслам, його практиках, розповідаємо, про що ця релігія.
                        h3 Чому Вам потрібно відвідати наш медіа-ресурс?
                        p Комунікація - особливо важливий момент для зростаючого мусульманського співтовариства в Україні і країнах СНД. Наше медіа - це можливість для подання чіткої альтернативи негативним уявленням про іслам в більш широких ЗМІ. Ресурс буде корисний як людям, які шукають релігійні знання про Іслам і розглядають його прийняття, так і тим, хто просто хоче дізнатися більше.
                        ul 
                            li — Спорт, подорожі.
                            li — Відносини, сімейні цінності.
                            li — Фінанси.
                            li — Дозвілля (добірки книг і фільмів, новинки в сфері технологій, пристроїв, корисних програм).
                            li — Вигідні акції, знижки.
                            li — Практичні поради з питань із сфери життя.
                            li — Записи корисних подкастів.
                            li — Інтерв'ю з видатними діячами ісламу і просто успішними людьми.
                        p Ми висвітлюємо сучасний стан мусульманського світу і його історії, надаємо інформацію про найбільших ісламських діячів культури і мистецтва. Ми говоримо про віру, традиції. Ми робимо все, щоб зблизити людей незалежно від їх національності і віросповідання.
                   

                +sidebar-content
            +b.subscribe-block 
                    +e.P.title Хочу потрапити на подкаст
                    +e.P.desc У вас є цікава історія і вам є що розповісти? Ми чекаємо на вас! Залиште свої контактні дані і ми з Вами звяжемось найближчим часом!
                    +b.FORM.subscribe-form
                        +e.INPUT(type="email" placeholder="Ваш E-mail").emeil
                        +e.INPUT(type="submit" value="Підписатися").submit
                    
                    
            +e.popular
                +b.H2.title_default._left._del Популярні подкасти
                +b.news-list
                    +news-item
                    +news-item
                    +news-item
                


