include ../_partials/category-menu.pug
include ../_partials/category-section.pug



mixin arhive_category-page
    +b.arhive_category-page
        +category-menu
        +category-section
        +category-section
        +category-section
        +b.A.btn_default._transp._center(href="#") Завантажити ще
        
