include ../_screens/contacts-first_screen.pug
include ../_screens/contacts-join_screen.pug

mixin contacts-page
    +b.contacts-page
        +contacts-first_screen
        +contacts-join_screen 
           



            

