include ../_screens/single-podcasts-first_screen.pug
include ../_screens/single-podcasts-body_screen.pug

mixin single_podcasts-page
    +b.single-podcasts
        +single-podcasts-first_screen
        +single-podcasts-body_screen


      
