include ../_partials/category-menu.pug
include ../_partials/category-section.pug



mixin single_category-page
    +b.single_category-page
        +category-menu
        +category-section
        
