include bemto/bemto.pug

//- include partials
//- Хедер
include _partials/header.pug

//- general
include _pages/general-page.pug
include _pages/arhive_category-page.pug
include _pages/single_category-page.pug

//- Футер
include _partials/footer.pug



doctype html 
html
	head
		link(rel="shortcut icon" href="" type="image/png")
		title title

		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		//- include style.css
		link(rel="stylesheet" type="text/css" href="css/all_style.css")

		link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
		
		
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		+header
		//- +general-page
		//- +arhive_category-page
		+single_category-page
		+footer




		//- libs js
		script(type="text/javascript" src="js/all_libs.js")
		script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		//- js
		script(type="text/javascript" src="js/all_js.js")