mixin category-menu
    +b.category-menu-wrap.wrap
        +b.category-menu.container 
            +b.H2.title_default категорії
            +e.list-wrap
                +e.UL.list
                    +e.LI.item 
                        +e.A(href="#").link Культура
                    +e.LI.item 
                        +e.A(href="#").link Цікаво знати
                    +e.LI.item 
                        +e.A(href="#").link Новини
                    +e.LI.item 
                        +e.A(href="#").link Мода
                    +e.LI.item 
                        +e.A(href="#").link Кулінарія
                    +e.LI.item 
                        +e.A(href="#").link Технології
                    +e.LI.item 
                        +e.A(href="#").link Косметика
