mixin category-section
    +b.SECTION.category-section-wrap.wrap 
        +b.category-section.container
            +b.H2.title_default._left Культура
            +b.news-list 
                +popular-menu
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item
                +news-item