mixin header 
    +b.HEADER.header-wrap.wrap 
        +b.header.container
            +b.A.header-logo(href="/")
                +e.IMG.img(src="./img/logo.png")
                +e.SPAN.text Halal Room
            +b.NAV.nav-menu
                +e.UL.list
                    +e.LI.item 
                        a(href="#") Категорії
                    +e.LI.item 
                        a(href="#") Відео та подкасти
                    +e.LI.item 
                        a(href="#") Категорії
            +b.UL.lang-block
                +e.LI.item UA 
    