mixin news-item 
    +e.item 
        +e.IMG.img(src="./img/test-img.png")
        +e.note-block
            +e.SPAN.category Технології
            +e.SPAN.time 7хв
        +e.P.title Особливості освіти в Ісламі та де можна її здобути в Києві (Україні) Освіта в Ісламі
        +e.P.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua