mixin podcasts-list-item
    +e.item
        +e.IMG(src="./img/test-img.png", alt="alt").item-img
        +e.item-text-block
            +e.P.item-title Що заборонено мусульманам?
            +e.P.item-desc Закон шаріату має застосовуватися до кожного мусульманина і регулювати релігійне та світське життя. Священна книга Ісламу розповідає про принципи, яких слід дотримуватися в сімейному 
            +e.P.item-date Dec 15, 2020