mixin popular-menu 
    +b.popular-menu
        +e.strip
            +e.SPAN.strip-text Популярне
        +e.item 
            +e.A.item-link Театр у доповненій реальності. Як працює застосунок ALTstage, який створили в Україні
        +e.item 
            +e.A.item-link Як не втратити слух через міський галас і музику
        +e.item 
            +e.A.item-link Koloah у «Хвильовому», фестиваль джазу та глінтвейну й німецьке кіно
        +e.item 
            +e.A.item-link Мюзикл про шахтарів та опера в бібліотеці Вернадського. 13 театральних прем’єр жовтня