mixin sidebar-content
    +b.sidebar-content-way
        +b.sidebar-content-wrap 
            +e.P.title Зміст
            +e.UL.list
                +e.LI.list-item 
                    +e.A(href="#").list-link Чому подорожі в мусульманські країни цікаві для українців?
                +e.LI.list-item 
                    +e.A(href="#").list-link Правила поведінки
                +e.LI.list-item 
                    +e.A(href="#").list-link Спілкування
                +e.LI.list-item 
                    +e.A(href="#").list-link В гостях
                +e.LI.list-item 
                    +e.A(href="#").list-link Їжа
                +e.LI.list-item 
                    +e.A(href="#").list-link Алкоголь і куріння
                +e.LI.list-item 
                    +e.A(href="#").list-link Особливі рекомендації для чоловіків
                +e.LI.list-item 
                    +e.A(href="#").list-link Особливі рекомендації для жінок